# Binaries for programs and plugins
main
vas
*.exe
*.exe~
*.so
*.dylib
*.dll
*.out
*.o


# Ignore binary output folders
bin/
*.py
test.s
nasm.s

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml
